body{
  background-color: #c900e4;
    place-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#valor1{
    background-color: #e7c6ff;
    border-radius: 25px;
    border-color:#ffadad;

}
#valor2{
    background-color: #e7c6ff;
    border-radius: 25px;
    border-color: #ffadad;
}
.btn{
    background-color: #ffd6ff;
    border-radius: 15px;
}
#calcular{
    background-color: #ffd6ff;
    border-radius: 20px;
}
h1{
    color:#ff00bf;
}
.gatinho{
    width: 200px;
    height: 250px;
    margin: 20px;
    

  
}

#g {
    transform: translateY(120px);
    z-index: -1;
}

